@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

header{
  background-color: #ecc93b;
}
.banner{
  width: 50rem;
  margin-top: 20px;
  margin-left: 20%;
}

.titulo{
text-align: center;
 font-family: 'Gloria Hallelujah', cursive;
 font-style: normal;
margin-left: 100px;
margin-bottom: 15px;
}
.principal h2 {
   
    width: 343px;
    height: 48px;
    left: 16px;
    top: 152px;
    font-family: 'Gloria Hallelujah', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin-left: 50px;
}

.text{
    width: 90%;
}

.text textarea{
    outline: 0;
    height: 450px;
    width: 100%;
    margin: 0 7%;
    font-size: 32px;
    font-family: 'Gloria Hallelujah', cursive;
}

.text textarea::placeholder{
  color: #0A3871;
}

.margen{
    width: 90%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.btn1{
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
   color: rgb(255, 255, 255);
    width: 343px;
    height: 67px;
    border: none;
    background: #0A3871;
    border-radius: 24px;  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

.btn1:hover{
  background: #021732;
}

.btn2{
    margin-top: 10px;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
     gap: 8px;
     border: solid 1px #021732;
    width: 343px;
    height: 67px;
    color: #0A3871;
    border-radius: 24px;   
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

.btn2:hover{
  background-color: #495057;
  color: beige;
}

.btn3{
  background: #2b45f3;
  background-image: -webkit-linear-gradient(top, #2b45f3, #64a8f5);
  background-image: -moz-linear-gradient(top, #2b45f3, #64a8f5);
  background-image: -ms-linear-gradient(top, #2b45f3, #64a8f5);
  background-image: -o-linear-gradient(top, #2b45f3, #64a8f5);
  background-image: linear-gradient(to bottom, #2b45f3, #64a8f5);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 3px 5px #241f24;
  -moz-box-shadow: 0px 3px 5px #241f24;
  box-shadow: 0px 3px 5px #241f24;
  font-family: 'Gloria Hallelujah', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  border: solid #181817 2px;
  text-decoration: none;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  width: 343px;
  height: 67px; 
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.btn3:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.mensaje-encriptado h3 {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

}

.mensaje-encriptado{
  margin-top: 0px;
}

.mensaje-encriptado p {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
 
}